body {
    background-color: aquamarine; /* kolor tla*/
    background: url(pingwinek.jpg);
    margin: 50px;
}
article{
    margin: 50px;   /* margines zewnetrzny*/
    padding: 20px;   /* margines wewnetrzny*/
    background-color: orangered;
    /*
    border-width: 5px;  - grubosc ramki
    border-color: rgb(212, 242, 16);  - kolor ramki
    border-style: double; - styl ramki
    */
    border: 5px double black; 
}
h1 {
    color: green;
    font-size: 30pt;          /* rozmiar czcionki*/
    font-family:'Wingdings'   /* rodzaje czcionki*/
}

p {
   text-align: justify;   /* wyrownanie czcionki*/
   font-style: italic;    /* styl czcionki: pochylony*/
}

a {
    color-size: 15pt;
    color: blueviolet
}
a:link{               /* link nieodwiedzony*/
    color: lightgreen;
}
a:visited{            /*link odwiedzony*/
    color: darkolivegreen;
}
a:hover{              /*po nacisnieciu myszki*/
    color: yellow;

}
a:active{             /*aktywny, w trakcie klikniecia*/
    color: blue;
}

/* font-variant: small-caps; */ - /*wariant czcionki:kapitaliki*/

img {
    width: 400px;  /* szrokosc elementu*/
    height: 400px; /* wysokosc elementu*/
}